.colBoardGame {
	border: 1px solid black;
	height: 60px;
}

.empty {
	background-image: url(../pictures/hw2_grass.png);
	z-index: 1;
}

.movementPossible {
	box-shadow: 5px 5px 5px 3px rgba(0, 0, 0, 0.5) inset;
	z-index: 150;
}

.blocked {
	background-image: url(../pictures/mountains.png);
	background-size: 100% auto;
	z-index: 1;
}

#boardGame {
	border-collapse: collapse;

}

.weapon, .player {
	background-image: url(../pictures/hw2_grass.png);
}

.weaponPng {
	z-index: 10;
	width: 100%;
	height: auto;
	display: block;
	margin: auto;

}

.playerPng {
	z-index: 20;
	width: auto;
	height: 100%;
	display: block;
	margin: auto;
	position: absolute;
	top: 0;
}

#infoBoard {
	padding-top: 15px;
	border-collapse: collapse;
}

.playersInfo {
	text-align: center;
}

#weaponsInfo, .playersInfo {
	text-align: center;
	border: 1px solid black;
}

.weaponsPictures {
	padding: 5px 0px 15px 0px;
}
