/*
1 - Plateau				l13
	1.1 BoardGame		l14
	1.2 BoardElement 	l53

2 - BoardInfo			l73

3- Combat 				l95

4 - Music				l133
*/

/*1 - Plateau*/
	/*1.1 -BoardGame*/
	body { 
    background-image: url('../pictures/boardInfo/playersBackground.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
	}

	.colBoardGame {
		border: 1px solid black;
		height: 60px;
		font-size: 2rem;
	}

	#boardGame {
		border-collapse: collapse;

	}

	.empty {
		background-image: url(../pictures/hw2_grass.png);
		z-index: 1;
	}

	.movementPossible {
		box-shadow: 5px 5px 5px 3px rgba(0, 0, 0, 0.5) inset;
		z-index: 150;
	}

	.blocked {
		background-image: url(../pictures/mountains.png);
		background-size: 100% auto;
		z-index: 1;
	}

	.weapon, .player {
		background-image: url(../pictures/hw2_grass.png);
	}

	/*1.2 - BoardElement*/

	.weaponPng {
		z-index: 10;
		max-width: 100%;
		max-height: 100%;
		display: block;
		margin: auto;
	}

	.playerPng {
		z-index: 20;
		width: auto;
		height: 100%;
		display: block;
		margin: auto;
		position: absolute;
		top: 0;
	}

/*2 - BoardInfo*/

#infoBoard {
	background-image: url('../pictures/boardInfo/weaponsBackground.jpg');
	background-size: 100% auto;	
	border: medium solid #d8b35b;
}

#infoGame {
	height: 120px;
}

#weaponsInfo, .playersInfo {
	text-align: center;
	height: 100%;
}

#weaponsInfo{
	border-style: none solid none;
	border-color: #d8b35b;
}

/*3 - Combat*/

#combatBox{
	position: absolute; 
  	top: 40%; 
  	left: 50%; 
  	transform: translate(-50%, -50%);
  	width: 35%;
  	height: 25%;
  	background-color: white;
  	z-index: 1000;
}

#combatBox p {
	text-align: center;
	margin: 5% 0% 2% 0%;
}

#combatBox input {
	margin-top: 15%;
}
#combatBox img{
	display: block;
	margin: auto;
}

#choixCombat {
	z-index: 200;
	position: absolute;
	left: 35%;
	top: 30%;
	width: 30%;
	height: 25%;
	text-align: center;
	border: solid;
	background-color: white;
}

/*4 - Music*/

#musicBoard{
	padding: 5px 0 5px 0;
}